@using System.Globalization
@using Moridge.Models
@model BookingModel

@{
    ViewBag.Title = Model.GetTitle(isDetails: false);
}
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />

<script>
    $(":jqmData(role=page)").bind("pagebeforeshow", function () {
        setSideBar();
        $('.header-btn-right').hide();
    });
</script>

@Html.ValidationSummary()

<ul data-role="listview" class="ui-listview">

    @foreach (var day in Model.GetDays())
    {
        var totalBookings = @Model.GetMissingBookings(day.Date.ToString("yyyy-M-d"));
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">
            @Model.GetDayString(day.Date)
            <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@totalBookings</span>
        </li>

        foreach (var occassion in Model.GetOccassions())
        {
        <li>
            <a href='@Url.Action("BookingDetails", "Driver", new { date = day.Date.ToString("yyyy-M-d"), occassion = occassion.Value.Name })'
                 data-transition="slidedown">
                <p class="ui-li-aside ui-li-desc link-header">
                    <strong>
                        @occassion.Value.Name
                    </strong>
                </p>
                <h3 class="ui-li-heading ">@Model.GetHeaderText(day.Date.ToString("yyyy-M-d"), occassion.Value.Name)</h3>
            </a>
        </li>
        }
    }
</ul>

<div data-role="popup" id="popupMenu" data-theme="a">
    <ul data-role="listview" id="popup-listview" data-inset="true" style="min-width: 210px;">
    </ul>
</div>

<div data-role="footer" data-theme="b" data-position="fixed" data-id="footer" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
            <li><a href="#"
                class="ui-btn-active ui-state-persist" id="Booking" data-transition="slide"><span>
                    <i class="material-icons">assignment</i>
                    <span style="font-size: 12px; display: block;">Boka</span>
                </span></a>
            </li>
            <li><a href="@Url.Action("Schedule", "Driver")" onclick="setPageIndicator(2)" data-transition="slide"><span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Arbetsschema</span>
            </span></a></li>
        </ul>
    </div>
</div>
