@model Moridge.Models.BookingCreateModel

@{
    ViewBag.Title = Model.GetTitle();
}

<script>
    var test;
    $(document).ready(function () {
        $('#CompanyName').blur(function () {
            console.log("tappade focus");

            var customerId = '202100-6297';
            $.getJSON("http://service.moridge.se/api/vehicle/" + customerId,
            function (result) {
                console.log(result);
                var vehicles = $("#vehicle-select");
                $.each(result, function () {
                    vehicles.append($("<option />").val(this.VehicleRegNo).text(this.VehicleRegNo));
                });
                vehicles.selectmenu('refresh');
            });
        });

        $('#vehicle-select ').change(function () {
            var selected = $("#vehicle-select option:selected").text();
            console.log(selected);
            if (selected === "--Ange egen--") {
                var newInput = $('<div id="vehicle-input" class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">' +
                    '@Html.TextBoxFor(m => m.VehicleRegNo, new { placeholder = Model.VehicleRegNoDisplay, @type = "text" })' +
                    '</div>');
                $('#vehicle-select').after(newInput);
            } else {
                $('#vehicle-input').hide();
            }
        });
        $('#vehicle-select').blur(function() {
            console.log("new focus loss");
        });
        $('#vehicle-input').blur(function () {
            console.log("new focus loss");
        });
        $('#VehicleRegNo').blur(function () {
            console.log("new focus loss");
        });

        $('#vehicle-select').focusout(function () {
            console.log("new focus loss");
        });
        $('#vehicle-input').focusout(function () {
            console.log("new focus loss");
        });
        $('#VehicleRegNo').focusout(function () {
            console.log("new focus loss");
        });
    });
</script>

<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />
@section Header {
    <a href="#" data-rel="back" id="nav-btn" data-icon="back" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h6 class="header-heading">
        @Model.GetTitle()
    </h6>
}

@using (Html.BeginForm("BookingCreate", "Driver", FormMethod.Post, new { data_ajax = "false" }))
{
    @Html.ValidationSummary()
    @Html.TextBoxFor(m => m.CompanyName, new { placeholder = Model.CompanyNameDisplay, @type = "text" })
    <div class="ui-field-contain">
        <select name="select-custom-21" id="vehicle-select" data-native-menu="false">
            <option value="choose-one" data-placeholder="true">@Model.VehicleRegNoDisplay</option>
            <option value="1">--Ange egen--</option>
        </select>
    </div>
    
    @Html.TextBoxFor(m => m.CustomerAddress, new { placeholder = Model.CustomerAddressDisplay, @type = "text" })
    @Html.TextBoxFor(m => m.BookingMessage, new { placeholder = Model.MessageDisplay, @type = "text" })
    @Html.TextBoxFor(m => m.Date, new { placeholder = Model.DateDisplay, @type = "text" })
    @Html.EnumDropDownListFor(m => m.Occassion)
    @Html.HiddenFor(m => m.ParentPage)
    @Html.HiddenFor(m => m.ParentDate)
    
    <input type="submit" id="submit" value="Skapa" />
}

@section Footer
{
    <ul>
        <li><a href="@Url.Action("BookingDay", "Driver")"><span>
            <i class="material-icons">assignment</i>
            <span style="font-size: 12px; display: block;">Idag</span>
        </span></a>
        </li>
        <li><a href="@Url.Action("BookingWeek", "Driver")" data-transition="slide"><span>
            <i class="material-icons">event</i>
            <span style="font-size: 12px; display: block;">Vecka</span>
        </span></a></li>
    </ul>
}
