@using Moridge.Extensions
@model Moridge.Models.BookingEventModel

@{
    ViewBag.Title = Model.GetTitle();
}

@section Header {
    <a href="@Url.Action("BookingDay", "Driver", new { date = Model.ParentDate })" id="nav-btn" data-icon="back" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h6 class="header-heading">
        @Model.GetTitle()
    </h6>
    <a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn header-btn-right2">
        <img src="/Content/images/calendar-remove.svg" alt="Ta bort" />
        <span class="align-super">Ta bort</span>
    </a>
}

@Html.ValidationSummary()

<ul data-role="listview" data-inset="true" style="min-width: 210px;">
    <li>
        <strong>@Html.DisplayFor(m => m.Event.Location)</strong>
        <p>@Model.Event.GetVehicleRegNo()</p>
        <p>@Html.DisplayFor(m => m.Event.Description)</p>
    </li>
</ul>

<div class="center-wrapper" data-theme="a">
    <a data-theme="a" class="ui-shadow ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext ui-btn-inline
         @(Model.IsStatusAvailable(false) ? "" : "ui-state-disabled")"
           href=@(Model.IsStatusAvailable(false) ? @Url.Action("BookingEventUpdate", "Driver",
            new { status = Model.CurrentStatus, eventId = Model.Event.Id, parentDate = Model.ParentDate, isNextStatus = false }) : "")></a>
    <b style="padding: 0 10px 0 10px;">@Model.CurrentStatus.GetDisplayName()</b>
    <a data-theme="a" class="ui-shadow ui-btn ui-corner-all ui-icon-arrow-r ui-btn-icon-notext ui-btn-inline
         @(Model.IsStatusAvailable(true) ? "" : "ui-state-disabled")"
           href=@(Model.IsStatusAvailable(true) ? @Url.Action("BookingEventUpdate", "Driver",
            new { status = Model.CurrentStatus, eventId = Model.Event.Id, parentDate = Model.ParentDate, isNextStatus = true }) : "")></a>
</div>

@section Footer
{
    <ul>
        <li><a href="@Url.Action("BookingDay", "Driver")" data-transition="slideup">
            <span>
                <i class="material-icons">assignment</i>
                <span style="font-size: 12px; display: block;">Idag</span>
            </span>
        </a>
        </li>
        <li><a href="@Url.Action("BookingWeek", "Driver")" data-transition="slide">
            <span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Vecka</span>
            </span>
        </a></li>
    </ul>
}
<div data-role="popup" id="popupDialog" style="max-width: 400px;">
    <div role="main" class="ui-content">
        <h3 class="ui-title">Är du säker?</h3>
        <p>Vill du verkligen ta bort denna körning?</p>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#" class="ui-btn ui-corner-all ui-shadow" data-rel="back">Avbryt</a>
            </div>
            <div class="ui-block-b">
                <a href="@Url.Action("BookingEventDelete", "Driver", new { id = Model.Event.Id, parentDate = Model.ParentDate, data_ajax = "false" })"
                   class="ui-btn ui-corner-all ui-shadow" data-transition="flow">Ta bort</a>
            </div>
        </div>
    </div>
</div>
