@model Moridge.Models.BookingModel

@{
    ViewBag.Title = Model.GetTitle(isDetails: true);
}

<script>
    $(document).ready(function () {
        setBackButton();
        $('.header-btn-right').hide();
    });
</script>
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />

@Html.ValidationSummary()

<ul data-role="listview" id="popup-listview" data-inset="true" style="min-width: 210px;">
    @{
        for (var i = 0; i < Model.BookingsForDriver; i++)
        {
        <li>
            @if (i < Model.GetEventsThisOccassion.Count)
            {
                <a href="#" class="popup-header">@Model.GetEventsThisOccassion[i].Location
                    <p>@Model.GetEventsThisOccassion[i].Start.DateTime.Value.Date.ToString("yyyy-M-d") @Model.GetEventsThisOccassion[i].Start.DateTime.Value.TimeOfDay</p>
                    <p>@Model.GetEventsThisOccassion[i].Summary</p>
                    <p>@Model.GetEventsThisOccassion[i].Start.DateTime.Value.ToUniversalTime().TimeOfDay</p>
                    <p>@Model.GetEventsThisOccassion[i].Description</p>
                </a>
            }
            else
            {
                <a href="#" class="popup-header">Tom</a>
            }
        </li>
        }
    }
</ul>

<div data-role="footer" data-theme="b" data-position="fixed" data-id="footer" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Booking", "Driver")"
                class="ui-btn-active ui-state-persist" id="Booking" data-transition="slideup"><span>
                    <i class="material-icons">assignment</i>
                    <span style="font-size: 12px; display: block;">Boka</span>
                </span></a>
            </li>
            <li><a href="@Url.Action("Schedule", "Driver")" data-transition="slide"><span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Arbetsschema</span>
            </span></a></li>
        </ul>
    </div>
</div>
