@model Moridge.Models.BookingDayModel

@{
    ViewBag.Title = Model.GetTitle(isDetails: true);
}

<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />
@section Header {
    <a href="#nav-panel" id="nav-btn" data-icon="bars" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h6 class="header-heading">
        @Model.GetDayString()
    </h6>
}
@Html.ValidationSummary()
<ul data-role="listview" id="popup-listview" data-inset="true" style="min-width: 210px;">
    @{
        foreach (var occassion in @Model.GetOccassions())
        {
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">
            @occassion.Key
            <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@Model.MissingBookings(occassion.Key)</span>
        </li>
            for (var i = 0; i < Model.BookingsForDriver(occassion.Key); i++)
            {
        <li>
            @if (i < Model.GetEvents(occassion.Key).Count)
            {
                <a href="@Url.Action("BookingEvent", "Driver", new { eventId = Model.GetEvents(occassion.Key)[i].Id })"
                     data-transition="slidedown">
                    @Model.GetEvents(occassion.Key)[i].Location
                    <p>@Model.GetEvents(occassion.Key)[i].Summary</p>
                    <p>@Model.GetEvents(occassion.Key)[i].Description</p>
                </a>
            }
            else
            {
                var emptyBookings = Model.BookingsForDriver(occassion.Key) - i;
                <a href="#" class="empty">@emptyBookings tomma</a>
                break;
            }
        </li>
            }
        }
    }
</ul>

@section Footer
{
    <ul>
        <li><a href=@(Model.IsToday ? "#" : Url.Action("BookingDay", "Driver")) class="@(Model.IsToday ? "ui-btn-active" : "")"><span>
            <i class="material-icons">assignment</i>
            <span style="font-size: 12px; display: block;">Idag</span>
        </span></a>
        </li>
        <li><a href="@Url.Action("BookingWeek", "Driver")" data-transition="slide"><span>
            <i class="material-icons">event</i>
            <span style="font-size: 12px; display: block;">Vecka</span>
        </span></a></li>
    </ul>
}
