@model Moridge.Models.BookingModel

@{
    ViewBag.Title = Model.GetTitle(isDetails: true);
}

<script>
    $(document).ready(function () {
        setBackButton();
        $('.header-btn-right').hide();
    });
</script>
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />

@Html.ValidationSummary()

<ul data-role="listview" id="popup-listview" data-inset="true" style="min-width: 210px;">
    @{
        //Adds content dynamically
        foreach (var bookingEvent in Model.GetEventsThisOccassion)
        {
        <li>
            <a href="#" class="popup-header">@bookingEvent.Location
                <p>@bookingEvent.Start.DateTime.Value.Date.ToString("yyyy-M-d") @bookingEvent.Start.DateTime.Value.TimeOfDay</p>
                <p>@bookingEvent.Summary</p>
                <p>@bookingEvent.Start.DateTime.Value.ToUniversalTime().TimeOfDay</p>
                <p>@bookingEvent.Description</p>
            </a>
        </li>
        }
    }
</ul>

<div data-role="footer" data-theme="b" data-position="fixed" data-id="footer" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Booking", "Driver")"
                class="ui-btn-active ui-state-persist" id="Booking" data-transition="slideup"><span>
                    <i class="material-icons">assignment</i>
                    <span style="font-size: 12px; display: block;">Boka</span>
                </span></a>
            </li>
            <li><a href="@Url.Action("Schedule", "Driver")" data-transition="slide"><span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Arbetsschema</span>
            </span></a></li>
            <li>
                <a href="@Url.Action("PersonalInfo", "Driver")" data-transition="slide"><span>
                    <i class="material-icons">account_box</i>
                    <span style="font-size: 12px; display: block;">Redigera Info</span>
                </span></a>
            </li>
        </ul>
    </div>
</div>
