@using Moridge.Extensions
@using Moridge.Models
@model BookingCreateModel

<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/materialDesign.input.css"/>
<script src="/Scripts/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $('.floating-booking').remove();

        toastr.options.timeOut = 3500;
        if ('@Model.ErrorMessage'.length) {
            toastr.warning('@Model.ErrorMessage');
        }

        $('#CustomerOrgNo').blur(function () {
            readRegNo();
        });

        $('#vehicle-select ').change(function () {
            var selected = $("#vehicle-select option:selected").text();
            //Show new input if user chose to enter new vehicle.
            if (selected === "--Ange ny--") {
                if ($('#vehicle-input').length) {
                    $('#vehicle-input').show();
                } else {
                    var newInput = $("<div data-role='none' class='group' id='vehicle-input'>" +
                         '@Html.TextBoxFor(m => m.VehicleRegNo, new { type = "text", data_role = "none", required = "" })' +
                          "<span data-role='none' class='highlight'></span>" +
                          "<span data-role='none' class='bar'></span>" +
                          "<label data-role='none'>" + '@Model.VehicleRegNoDisplay' + "</label>" +
                          "</div>");
                       $('#vehicle-select').after(newInput);
                   }
               } else {
                   $('#vehicle-input').hide();
                   $("#VehicleRegNo").val(selected);
               }
           });
           $('input#BookingMessage').blur(function () {
               var value = $(this).val();
               if (value === '') {
                   $(this).addClass('empty');
                   $(this).removeClass('not-empty');
               } else {
                   $(this).addClass('not-empty');
                   $(this).removeClass('empty');
               }
           });
           $('input#BookingMessage').focus(function () {
               $(this).addClass('not-empty');
               $(this).removeClass('empty');
           });
       });
       function readRegNo() {
           var customerId = $('#CustomerOrgNo').val();
           if (customerId.length === 0) {
               return;
           }
           $.getJSON("http://service.moridge.se/api/vehicle/" + customerId,
               function (result) {
                   var vehicles = $("#vehicle-select");
                   vehicles.empty();
                   vehicles.append('<option value="choose-one" data-placeholder="true">@Model.VehicleRegNoDisplay</option>');
                    vehicles.append('<option value="1">--Ange ny--</option>');

                    $.each(result, function () {
                        vehicles.append($("<option />").val(this.VehicleRegNo).text(this.VehicleRegNo));
                        $('#BookingHeader').append($("<option />").val(this.VehicleRegNo).text(this.VehicleRegNo));
                    });
                    vehicles.selectmenu('refresh');
                });
            }
</script>
@{
    ViewBag.Title = Model.GetTitle();
}
@section Header {
    <a href="#" data-rel="back" id="nav-btn" data-icon="back" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h6 class="header-heading">
        @Model.GetTitle()
    </h6>
}

@Html.ValidationSummary()
@using (Html.BeginForm("BookingCreate", "Driver", FormMethod.Post, new { data_ajax = "false", @class = "bookingCreate" }))
{
    @Html.MaterialDesignInput(m => m.CustomerOrgNo, Model.CustomerOrgNoDisplay, true, "tel")
    <div class="ui-field-contain">
        <select id="vehicle-select" data-native-menu="false">
            <option value="choose-one" data-placeholder="true">@Model.VehicleRegNoDisplay</option>
            <option value="1">--Ange ny--</option>
        </select>
    </div>
    @Html.HiddenFor(m => m.VehicleRegNo)

    //Populate the dropdownlist if the CustomerOrgNo is already set
    if (!string.IsNullOrEmpty(Model.CustomerOrgNo))
    {
        <script type="text/javascript">readRegNo()</script>
    }
    
    @Html.MaterialDesignInput(m => m.CustomerAddress, Model.CustomerAddressDisplay, true)
    @Html.MaterialDesignInput(m => m.BookingMessage, Model.MessageDisplay, false)
    @Html.MaterialDesignDatePicker(m=> m.Date, @Model.Date.ToString("yyyy-MM-d"))
    @Html.EnumDropDownListFor(m => m.Occassion)

    @Html.HiddenFor(m => m.Occassion)
    @Html.HiddenFor(m => m.ParentPage)
    @Html.HiddenFor(m => m.ParentDate)
    @Html.HiddenFor(m => m.Date)
    
    <input type="submit" id="submit" value="Skapa" />
}

@section Footer
{
    <ul>
        <li><a href="@Url.Action("BookingDay", "Driver")"><span>
            <i class="material-icons">assignment</i>
            <span style="font-size: 12px; display: block;">Idag</span>
        </span></a>
        </li>
        <li><a href="@Url.Action("BookingWeek", "Driver")" data-transition="slide"><span>
            <i class="material-icons">event</i>
            <span style="font-size: 12px; display: block;">Vecka</span>
        </span></a></li>
    </ul>
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/toastr.min.css" />
}