@using Moridge.Extensions
@model Moridge.Models.BookingDayModel
@{
    ViewBag.Title = Model.GetTitle(isDetails: true);
}

@section Header {
    <a href="#nav-panel" id="nav-btn" data-icon="bars" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h6 class="header-heading">
        @Model.GetDayString()
    </h6>
}

@Html.ValidationSummary()
<ul data-role="listview" id="popup-listview" data-inset="true" style="min-width: 210px;">
    @{
        foreach (var occassion in @Model.GetOccassions())
        {
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">
            @occassion.Key
            <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@Model.MissingBookings(occassion.Key)</span>
        </li>
            //Iterate all the bookings for this driver, show current bookings and lastly group up and display missing bookings.
            for (var i = 0; i < Model.BookingsForDriver(occassion.Key); i++)
            {
        <li>
            @if (i < Model.GetEvents(occassion.Key).Count)
            {
                var thisEvent = Model.GetEvents(occassion.Key)[i];
                <a href="@Url.Action("BookingEvent", "Driver", new { eventId = thisEvent.Id, eventStatus = thisEvent.Summary, parentDate = Model.Date })"
                        data-transition="slidedown" style="background-color: @(Model.EventIsDone(occassion.Key, i) ? "#E0E0E0" : "inherit")">
                    @thisEvent.Location @thisEvent.GetVehicleRegNo()
                    <p>@thisEvent.Description</p>
                    <p style="color: #2ad">@Model.GetCurrentStatus(thisEvent).GetDisplayName()</p>
                </a>
            }
            else
            {
                //Show total number of missing bookings and break loop.
                var emptyBookings = Model.BookingsForDriver(occassion.Key) - i;
                <a href="#" class="empty">@emptyBookings tomma</a>
                break;
            }
        </li>
            }
        }
    }
</ul>

@section Footer
{
    <ul>
        <li><a href="@(Model.IsToday ? "#" : Url.Action("BookingDay", "Driver"))" class="@(Model.IsToday ? "ui-btn-active" : "")"><span>
            <i class="material-icons">assignment</i>
            <span style="font-size: 12px; display: block;">Idag</span>
        </span></a>
        </li>
        <li><a href="@Url.Action("BookingWeek", "Driver")" data-transition="slide"><span>
            <i class="material-icons">event</i>
            <span style="font-size: 12px; display: block;">Vecka</span>
        </span></a></li>
    </ul>
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/toastr.css" />
}
@section scripts {
    <script src="/Scripts/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            toastr.options.timeOut = 3500;
            if ('@Model.Message'.length) {
                toastr.success('@Model.Message');
            }
            $('.floating-booking').attr('href', '@Url.Action("BookingCreate", "Driver", new { parentPage = "BookingDay", parentDate = Model.Date })');
        });
    </script>
}