@model Moridge.Models.DriverDetailsModel

@{
    ViewBag.Title = "Driver Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />
@section Header {
    <a href="#nav-panel" id="nav-btn" data-icon="bars" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h1>@ViewBag.Title</h1>
}

@Html.ValidationSummary()
@using (Html.BeginForm("PersonalInfo", "Driver", FormMethod.Post))
{
    @Html.Partial("_DriverInfoForm", Model)
}
@section Footer
{
    <ul>
        <li><a href="@Url.Action("BookingDay", "Driver")"><span>
            <i class="material-icons">assignment</i>
            <span style="font-size: 12px; display: block;">Idag</span>
        </span></a>
        </li>
        <li><a href="@Url.Action("BookingWeek", "Driver")" data-transition="slide"><span>
            <i class="material-icons">event</i>
            <span style="font-size: 12px; display: block;">Vecka</span>
        </span></a></li>
    </ul>
}
