@using Moridge.Extensions
@using Moridge.Models
@model IList<ScheduleDay>

@{
    //ViewBag.Title = Model.GetTitle();
}
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />
<script>
    $(":jqmData(role=page)").bind("pagebeforeshow", function () {
        setSideBar();
        //$('div[role="application"').attr("style", "width: 90%; height: 30%");
        //$('a[role="slider"').attr("style", "height:20px;");

        //$('div[role="application"').attr("style", "width: 90%; height: 28px");
        //$('a[role="slider"').attr("style", "height:25px;");
    });
    $(document).ready(function () {
        setPageIndicator(2);
        $('.header-btn-right').show();
    });
</script>
@using (Html.BeginForm("ScheduleTest", "Driver"))
{ 
    @Html.ValidationSummary()

    <ul data-role="listview" class="ui-listview">
        @for (var i = 0; i < Model.Count; i++)
        {
            <li class="list-item">
                <div class="ui-grid-c">
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-c bar-item">
                            <h1>@Model[i].DayOfWeek</h1>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-c bar-item">
                            <p class="schedule-label">Förmiddag</p>
                            <p>Eftermiddag</p>
                        </div>
                    </div>
                    <div class="ui-block-c">
                        <div class="ui-bar ui-bar-c no-padding" style="height: 92px">
                            <p class="no-padding">@Html.FlipSwitchFor(m => m[i].MorningActive)</p>
                            <p class="no-padding">@Html.FlipSwitchFor(m => m[i].AfternoonActive)</p>
                        </div>
                    </div>
                    <div class="ui-block-d">
                        <div class="ui-bar ui-bar-c no-padding" style="margin-left: 10px !important;">
                            <p class="schedule-input">@Html.TextBoxFor(m => m[i].MorningBookings, new {@type = "number"})</p>
                            <p class="no-padding">@Html.TextBoxFor(m => m[i].AfternoonBookings, new {@type = "number"})</p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>

    <div>
        <input type="submit" value="Save" />
    </div>
}

<div data-role="footer" data-theme="b" data-position="fixed" data-id="footer" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Booking", "Driver")" onclick="setPageIndicator(1)" data-transition="slide" data-direction="reverse"><span>
                <i class="material-icons">assignment</i>
                <span style="font-size: 12px; display: block;">Boka</span>
            </span></a>
            </li>
            <li><a href="#" class="ui-btn-active" data-transition="slide"><span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Arbetsschema</span>
            </span></a></li>
        </ul>
    </div>
</div>
