@using Moridge.Models
@model ScheduleModelSet

@{
    ViewBag.Title = Model.GetTitle();
}
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />
<script>
    $(":jqmData(role=page)").bind("pagebeforeshow", function () {
        setSideBar();
    });
    $(document).ready(function () {
        setPageIndicator(2);
        setDeviationButton();
    });
</script>

@using (Html.BeginForm("ScheduleDeviation", "Driver"))
{
    @Html.Partial("_ScheduleForm", Model)
}

<div data-role="footer" data-theme="b" data-position="fixed" data-id="footer" data-tap-toggle="false">
    <div class="center-wrapper">
        <a class="ui-shadow ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext ui-btn-inline @(Model.IsPreviousWeekAvailable() ? "" : "ui-state-disabled")"
               href=@(Model.IsPreviousWeekAvailable() ? @Url.Action("ScheduleLoadWeek", "Driver", new { weeksFromNow = Model.WeeksFromNow, gotoNextWeek = false }) : "")></a>
        @Html.DisplayFor(m => m.CurrentWeek)

        <a class="ui-shadow ui-btn ui-corner-all ui-icon-arrow-r ui-btn-icon-notext ui-btn-inline @(Model.IsNextWeekAvailable() ? "" : "ui-state-disabled")"
               href=@(Model.IsNextWeekAvailable() ? @Url.Action("ScheduleLoadWeek", "Driver", new { weeksFromNow = Model.WeeksFromNow, gotoNextWeek = true }) : "")></a>
    </div>
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Booking", "Driver")" onclick="setPageIndicator(1)" data-transition="slide" data-direction="reverse"><span>
                <i class="material-icons">assignment</i>
                <span style="font-size: 12px; display: block;">Boka</span>
            </span></a>
            </li>
            <li><a href="@Url.Action("Schedule", "Driver")" class="ui-btn-active" onclick="setPageIndicator(2)" data-transition="slideup"><span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Arbetsschema</span>
            </span></a></li>
        </ul>
    </div>
</div>
