<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/images/logotype.png" rel="shortcut icon" type="image/x-icon" />

    @*@Styles.Render("~/Content/mobileCss", "~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymobile")*@

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
        //Makes the header button open the sidebar.
        function setSideBar() {
            $('*#nav-btn').prop("href", "#nav-panel");
            $('*#nav-btn').addClass("ui-icon-bars").removeClass("ui-icon-back");
        }
        //Makes the header button act as a back button.
        function setBackButton() {
            $('*#nav-btn').prop("href", '@Url.Action("Booking", "Driver")');
        }
        //Sets the given page as active in the page indicator.
        function setPageIndicator(page) {
            if (page === 1) {
                $('*#page-indicator-1').attr("class", "activeSlide");
                $('*#page-indicator-2').attr("class", "");
            }
            else if (page === 2) {
                $('*#page-indicator-1').attr("class", "");
                $('*#page-indicator-2').attr("class", "activeSlide");
            }
        }
    </script>
</head>
<body>
    <div data-role="page" data-theme="a">

        @Html.Partial("_SidePanel")

        <div data-role="header" data-theme="a">
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
            else
            {
                <h1>
                    <div id="page-indicator">
                        <a href="#" id="page-indicator-1" class="activeSlide">Boka</a>
                        <a href="#" id="page-indicator-2" class=""></a>
                    </div>
                </h1>
                @Html.Partial("_LoginPartial")
            }
        </div>
        <div data-role="content">
            @RenderBody()
        </div>
    </div>
    <script>
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
