<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/images/logotype.png" rel="shortcut icon" type="image/x-icon" />

    @*@Styles.Render("~/Content/mobileCss", "~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymobile")*@

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />

    @RenderSection("styles", false)
</head>
<body>
    <div data-role="page" data-theme="a">
        @{
            Html.RenderAction(Request.IsAuthenticated ? "_SidePanelLoggedIn" : "_SidePanelDefault", "SidePanel");
        }

        <div data-role="header" data-theme="a">
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
        </div>
        <div data-role="content">
            @RenderBody()
            @{
                if (Request.IsAuthenticated)
                {
                    Html.RenderAction("_FloatingActionButton", "FloatingActionButton");
                }
            }
        </div>
        <div data-role="footer" data-theme="b" data-position="fixed" data-id="footer" data-tap-toggle="false">
            <div data-role="navbar">
                @if (IsSectionDefined("Footer"))
                {
                    @RenderSection("Footer")
                }
            </div>
        </div>
    </div>
    <script>
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
