@using Moridge.Extensions
@model Moridge.Models.ScheduleModelSet

@using (Html.BeginForm("Schedule", "Driver", FormMethod.Post, new { data_ajax = "false" }))
{ 
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.IsDeviationSet)
    @Html.HiddenFor(m => m.WeeksFromNow)

    <ul data-role="listview" class="ui-listview">
        @for (var i = 0; i < Model.GetScheduleModels().Count; i++)
        {
            <li class="list-item">
                <div class="ui-grid-c">
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-c bar-item">
                            <h1>@Html.DisplayFor(m => m.ScheduleModels[i].DayOfWeek)</h1>
                            <p>@Html.DisplayFor(m => m.ScheduleModels[i].Date)</p>
                            @Html.HiddenFor(m => m.ScheduleModels[i].Date)
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-c bar-item">
                            <p class="schedule-label">Förmiddag</p>
                            <p>Eftermiddag</p>
                        </div>
                    </div>
                    <div class="ui-block-c">
                        <div class="ui-bar ui-bar-c no-padding" style="height: 92px">
                            <p class="no-padding">@Html.FlipSwitchFor(m => m.ScheduleModels[i].MorningActive)</p>
                            <p class="no-padding">@Html.FlipSwitchFor(m => m.ScheduleModels[i].AfternoonActive)</p>
                        </div>
                    </div>
                    <div class="ui-block-d">
                        <div class="ui-bar ui-bar-c no-padding" style="margin-left: 10px !important;">
                            <p class="schedule-input">@Html.TextBoxFor(m => m.ScheduleModels[i].MorningBookings, new { @type = "number" })</p>
                            <p class="no-padding">@Html.TextBoxFor(m => m.ScheduleModels[i].AfternoonBookings, new { @type = "number" })</p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div style="padding-top: 1em;">
        <input type="submit" value="Spara" />
    </div>
}