@using Moridge.Models
@model SidePanelLoggedInModel

<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav-panel">
    <ul data-role="listview" class="ui-listview">
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">
            @Html.DisplayFor(m => m.User.FirstName) @Html.DisplayFor(m => m.User.LastName)
        </li>
        <li>
            <h6>@Html.DisplayFor(m => m.User.Adress)</h6>
            <h6>@Html.DisplayFor(m => m.User.Email)</h6>
            <h6>@Html.DisplayFor(m => m.User.PhoneNumber)</h6>
        </li>
    </ul>
    <ul data-role="listview" class="ui-listview sidebar-footer">
        @if (Model.UserIsDriver())
        {
            <li>
                <a href="@Url.Action("Schedule", "Driver")" class="ui-btn" data-transition="pop">
                    <i class="material-icons">event</i>
                    <span class="align-super">Arbetsschema</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("PersonalInfo", "Driver")" class="ui-btn" data-transition="pop">
                    <i class="material-icons">account_box</i>
                    <span class="align-super">Redigera Info</span>
                </a>
            </li>
        }
        @if (!Model.UserIsDriver())
        {
            @* model is for admin *@
            <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />
            <li>
                <a href="@Url.Action("Statistics", "Admin")" class="ui-btn" data-transition="pop">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span>Statistik</span>
                </a>
            </li>          
        }
        <li><a href="http://www.moridge.com/sv-se/orebro/support/index1,10.htm" class="ui-btn">
            <i class="material-icons">info_outline</i>
            <span class="align-super">Support</span>
        </a></li>
        <li><a href="http://www.moridge.com/sv-se/orebro/moridge/index1,7.htm" class="ui-btn">
            <i class="material-icons">help_outline</i>
            <span class="align-super">Om Moridge</span>
        </a></li>
        <li>
            <a href="@Url.Action("LogOff", "Account")" class="ui-btn">
                <i class="material-icons">exit_to_app</i>
                <span class="align-super">Logga ut</span>
            </a></li>
    </ul>
</div>

