@model Moridge.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<link rel="stylesheet" href="~/Content/themes/moridge/login_style.css"/>
@section Header {
    <a href="#nav-panel" id="nav-btn" data-icon="bars" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h1></h1>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { data_ajax = "false" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="login-block">
        <h1>Logga In</h1>
        @Html.TextBoxFor(m => m.Email, new { placeholder = Model.EmailDisplay, @data_role = "none", @type = "text", @id = "username" })
        @Html.PasswordFor(m => m.Password, new { placeholder = Model.PasswordDisplay, @data_role = "none", @type = "password", @id = "password" })
        <input type="submit" data-role="none" id="submit" value="Logga in"/>
        <a href="#" data-role="none">Har du glömt lösenordet?</a>
        <div class="logo"></div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}