@using Moridge.Models
@model StatisticsModel
@{
    ViewBag.Title = "Statistik";
}

@section Header {
    <a href="#" id="nav-btn" data-rel="back" data-icon="back" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h6 class="header-heading">
        @ViewBag.Title
    </h6>
}

<ul data-role="listview" data-inset="true" style="min-width: 210px;">
    <li>@Html.DisplayFor(m => m.Name)</li>
    <li>@Html.DisplayFor(m => m.Number)</li>
    <li>@Html.DisplayFor(m => m.Email)</li>
    <li data-role="list-divider">
    <li>@Html.DisplayFor(m => m.InfoText)</li>
</ul>
@{ var asd = Model.IsForDriver;}
@Html.EnumDropDownListFor(m => m.ChartMode, new
{
    onchange = "url=this.value == 0 ? '/Admin/StatisticsChart?index=" + @Model.Index + "&showTotal=False&useDates=True&isForDrivers=" + @Model.IsForDriver + "'  :" +
               " '/Admin/StatisticsChart?index=" + @Model.Index + "&showTotal=False&useDates=False&isForDrivers=" + @Model.IsForDriver + "'; $('#chart').attr('src',url)"
})
<p>
    <img id="chart" src="@Url.Action("StatisticsChart", "Admin",
        new { index = Model.Index, showTotal = false, useDates = Model.ChartMode == StatisticsModel.ChartModes.Date, isForDrivers = Model.IsForDriver })"/>
</p>
